@model ProtocolDroid.Pages.CarStats

@{
    var car_stats = Model;
}

<div class="stats shadow">

    <div class="stat place-items-center">
        <div class="stat-title">Total Cars</div>
        <div class="stat-value">@car_stats.totalcars</div>
        <div class="stat-desc">From January 1st to February 1st</div>
    </div>

    <div class="stat place-items-center">
        <div class="stat-title">Average cost</div>
        <div class="stat-value text-secondary">@car_stats.averagecost</div>
        <div class="stat-desc text-secondary">↗︎ 40 (2%)</div>
    </div>

    <div class="stat place-items-center">
        <div class="stat-title">New Registers</div>
        <div class="stat-value">1,200</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>

</div>