@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 lobster-shadow">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <p></p>
    </div>
</div>

<style>
  .lobster-shadow {
    text-shadow: 4px 6px 8px rgba(255, 0, 0, 0.5);
  }
</style>