@page
@model ProtocolDroid.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    // var query_name = "Test name";
}

<div x-data="setup()" class="text-center flex flex-col items-center">

    <lean-welcome></lean-welcome>

    <sl-tab-group placement="top">
        <sl-tab slot="nav" panel="custom">Postgresql Cars</sl-tab>
        <sl-tab slot="nav" panel="general">Sample Web Component</sl-tab>
        <sl-tab slot="nav" panel="counter">Counter Sample</sl-tab>
        <sl-tab slot="nav" panel="advanced" class="flex flex-row gap-2">
            Transpile
            <sl-icon name="terminal-split"></sl-icon>
        </sl-tab>

        <sl-tab-panel name="general">
            <h2>Basic Web Component</h2>
            <big-bang>
                <h2 slot="title">Characters</h2>
                <ul slot="list">
                    <li>Leonard</li>
                    <li>Sheldon</li>
                    <li>Raj</li>
                    <li>Howard</li>
                </ul>
            </big-bang>

        </sl-tab-panel>

        <sl-tab-panel name="custom">
            @* <base-card></base-card> *@

            <div
                hx-trigger="load"
                hx-get='@Url.Page("Index", "TotalCars")'>
                <img alt="Result loading..." class="htmx-indicator" width="150" src="/img/bars.svg"/>
            </div>
            @* <div id="car_count"></div> *@

        </sl-tab-panel>

        <sl-tab-panel name="counter">
            <cm-counter x-data="{count: -1}">
                <h2 slot="title">Current Count</h2>
                <label slot="description">
                    this is a counter...
                </label>
                <span slot="count" x-text="count"></span>
                <span slot="actions">
                    <button class="btn btn-secondary" x-on:click="count++">+</button>
                    <button class="btn btn-secondary" x-on:click="count--">-</button>
                </span>
            </cm-counter>
        </sl-tab-panel>

        <sl-tab-panel name="advanced">

            <div
                hx-trigger="revealed"
                hx-get='@Url.Page("Index", "SeedRegexTableFromJson")'>
                <img alt="Result loading..." class="htmx-indicator" width="150" src="/img/bars.svg"/>
            </div>

            <template x-if="false" x-cloak>
            
                <button
                    class="btn btn-primary"
                    hx-swap="outerHTML"
                    hx-get='@Url.Page("Index", "SeedRegexTableFromJson")'>
                    Seed Regex Patterns
                </button>
            
            </template>

        </sl-tab-panel>
    </sl-tab-group>


</div>

<script>
function setup() {
    return {
           tab3: '' 
        }
    }
</script>

<style>
    .htmx-settling img {
      opacity: 0;
    }
    img {
     transition: opacity 300ms ease-in;
    }
</style>