@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var query_name = "Test name";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <lean-welcome></lean-welcome>

    <hello-world></hello-world>

    @* <cm-hero></cm-hero> *@

    <button
        class="btn btn-primary"
        hx-swap="outerHTML"
        hx-get='@Url.Page("Index", "Profile", new { query_name = "search-regex-patterns" })'>
        Click meee
    </button>

</div>